[Desktop Entry]
Encoding=UTF-8
Name=Link to                        Menu                    
Type=Link
URL=https://spygram.github.io/restaurant/menu-categories.html
Icon=text-html
